html, body {
  background:white;
}
#header-site{
  background: #000000 url("../content/header.png") no-repeat;
  background-size:cover;
  height: 500px;
  max-width: 100%
}

#h1-welcome{
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
}
#right{
  float:right;
  direction: rtl;
}
.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: yellow;
}
.white-text{
  color: white;
  font-weight: bold;
  font-size: 150%;
}
.showhide{
  display: none;
}
.shown{
  display: inline-block;
}
.inh{
  display: inherit;
}
.btn{
  display: inline-block;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.spacing{
  padding-bottom: 50px;
  padding-top: 50px;
}
.spacing-250{
  margin-bottom: 250px;
}
.stat{
  background:#95E1D3
}
.meme{
  width:100%;
}
.resize-card-img{
  width:25%;
  height:25%;
  margin-left:50px;
  margin-top:50px;
}

hr.orange {
  width: 7%;
  border-top: 3px solid red;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mont{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.kaushan{
  font-family:'Kaushan Script', cursive;
}

.btn-primary{
  background:transparent;
  border-color:white;
  color:white;
}
.btn-primary:hover{
  border-color:black;
  color:black;
  background:transparent;
}
